.dropdown-toggle::after {
    display: none !important; 
  }




  .custom-alert-danger {
    background-color: #8e0707 !important; /* red */
    color: white !important;
  }
  
  .custom-alert-success {
    background-color: #028302 !important; /* green */
    color: white !important;
  }
  